html,body
{
	margin:0 auto;
	padding:0;
	width:100%;
	height:100%;
	font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif
}

@font-face {
    font-family: Journal;
    src: url(fonts/JOURNAL.TTF);
}
.JOURNAL{
		font-family: Journal;
    background-image: url('../image/Blog-underline.png');
    font-size: 50px;
    background-repeat: no-repeat;
		background-position: bottom;
    padding: 0 10px;
		color: #009DE4;
}
.blog_text{
		font-size: 30px;
		letter-spacing: 0.5px;
		line-height: 81px;
}

.go_to_blog_link{
		font-family: "Times New Roman", Times, serif;
		float: none;
		margin-top: 54px;
		text-align: center;
}
}
body > .warper {
	 height: auto;
	 min-height: 100%;
}
ul
{
	list-style-type:none;
	margin:0;
	padding:0
}

.nav>li
{
	text-decoration:none;
	list-style:none;
	display:inline-block
}

nav
{
	width:100%
}

.nav-control > .container
{
	padding-top:40px
}

body
{
	background-color:#FFF;
	background-repeat:no-repeat;
	background-position:center top;
	/*background-image:url(../zadanie.jpg);*/
}

.nav-item-right
{
	float:right;
	margin-right:7px;
	margin-top:9px
}

.nav-item
{
	float:left;
}

.nav-nav_list
{
	background-color:#1F1A17;
	height:48px;
	border-bottom:1px solid rgba(66,67,65,0.62);
}

.nav-nav_list>.container>.nav>li
{
	color:#fff;
	font-size:15px;
	text-align:center;
}

.mobile-nav
{
	display:none;
	position:absolute;
}

.mobile-nav > .container
{
	background:#eaeaea;
	padding:0;
}

.mobile-nav > .container>ul>li
{
	text-align:center;
	text-decoration:none;
	display:inline-block;
	border-bottom:1px solid rgba(80,80,80,0.1);
}

.mobile-nav > .container>ul>li>a
{
	color:#505050;
	padding:10px;
	text-align:center;
	text-decoration:none;
	width:100%;
	height:100%;
	display:block;
}

.mobile-look
{
	display:none;
	position:absolute;
}

.mobile-look > .container
{
	color:#505050;
	background:#eaeaea;
	padding:0;
}
.header-name-mobile{
		font-weight: 700;
    font-size: 39px;
    line-height: 0;
    color: #000;
    text-decoration: none;
}
.mobile-look> .container>ul>li
{
	text-align:center;
	text-decoration:none;
	display:inline-block;
	padding:10px;
	border-bottom:1px solid rgba(80,80,80,0.1);
}

.nav-nav_list>.container>.nav>.active
{
	-webkit-box-shadow:inset 0 -4px 0 0 rgba(1,155,255,1);
	-moz-box-shadow:inset 0 -4px 0 0 rgba(1,155,255,1);
	box-shadow:inset 0 -4px 0 0 rgba(1,155,255,1);
}
.cart-button{
	float: right;
    border: 0;
    width: 46.3%;
    height: 100%;
		color: white;
		background-color: #009DE4;
}
.cart-data{
	float: left;
	color: #737373;
	width: 53.7%;
	padding: 7px 0;
	height: 100%;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}
.cart-data>i{
			margin-right: 5px;
	    color: #009DE4;
	    font-size: 20px;
}
.li-shopping-cart{
	margin: 1px -5px 0px 0px;
	width: 281px;
	height: 38px;
	border: 1px solid #E4E4E4;
}
.nav-control
{
	height:117px;
}

.banner
{
	background: #e6f0f5;
	background: -moz-linear-gradient(-45deg,  #e6f0f5 0%, #bedbe9 94%);
	background: -webkit-linear-gradient(-45deg,  #e6f0f5 0%,#bedbe9 94%);
	background: linear-gradient(135deg,  #e6f0f5 0%,#bedbe9 94%);
}

.header-name
{
	font-weight:700;
	font-size:39px;
	line-height:0;
	vertical-align: middle;
	color:#000;
	text-decoration:none;
}

.nav-header-mobile
{
	margin:20px -10px 0 -14px;
}

.nav-header-mobile >a
{
	color:#fff;
}

.hamburger
{
	display:block;
	position:absolute;
	width:30px;
	height:30px;
	z-index:2;
}

.hamburger__inner
{
	display:block;
	width:30px;
	height:4px;
	margin-top:9px;
	background:#FFF;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.hamburger__menu
{
	width:30px;
	height:30px;
	margin-right:-10px;
	margin-top:13px;
}

.hamburger__inner::before,.hamburger__inner::after
{
	display:block;
	position:absolute;
	content:"";
	z-index:-1;
	width:30px;
	height:4px;
	background:#FFF;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.hamburger__inner::before
{
	top:0;
}

.hamburger__inner::after
{
	top:18px;
}

.hamburger--open .hamburger__inner
{
	background:none;
}

.hamburger--open .hamburger__inner::before,.hamburger--open .hamburger__inner::after
{
	top:8px;
}

.hamburger--open .hamburger__inner::before
{
	-webkit-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

.hamburger--open .hamburger__inner::after
{
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}

.konto,.lista,.koszyk,.look
{
	position:relative;
	width:30px;
	height:30px;
}

.konto >a,.lista >a,.koszyk >a,.look >a
{
	color:#fff;
	text-decoration:none;
	font-size:25px;
	width:100%;
	height:100%;
}
.nav-top-item-right {
    margin-right: 19px;
}
.search-box.hovered,.search-box:hover,.search-box:active
{
	border:1px solid #aaa;
}
.banner-text{
	padding: 0;
	margin-left: -5px;
}
.banner-text>h6{
	color: #009DE4;
	letter-spacing: 1.5px;
	font-size: 15px;
}

.banner-text>.break-line{
	width: 23px;
	margin: 21px 0;
	border-top: 0;
	border-bottom: 1px solid black;
}

.button-out{
	border: 1px solid white;
	float: left;
}

.button-inner{
	margin: 1.5px;
	letter-spacing: 2.5px;
	border: 0;
	background: none;
	background-color: white;
	color: #1f1916;
	outline: none;
}

.buy-now-button.button-out{
margin-top: 49px;
margin-left: -20px;
width: 166px;
height: 46px;
text-align: center;
float: none;
}

.buy-now-button.button-inner{
	height: 40px;
	width: 160px;
}
.buy-now-button-mobile.button-out{
	margin-top: 70px;
	margin-left: 5px;
	width: 120px;
	height: 40px;
}
.buy-now-button-mobile.button-inner{
width: 115px;
height: 34px;
}

.add-cart-button.button-out{
	margin: auto;
	width: 106px;
	height: 46px;
	text-align: center;
	float: none;
}

.add-cart-button.button-inner{
	height: 40px;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 3.5px;
		cursor: pointer;
}
.banner-text>span{
	font-size: 13.5px;
	width: 100%;
	text-align: justify;
	height: 90px;
	display: block;
	    line-height: 13.5px;
}
.banner-title{
			font-family: "Times New Roman", Times, serif;
	    letter-spacing: 5px;
}
.search-box input[type=text]
{
	border:none;
	width:100%;
	box-shadow:none;
	display:inline-block;
	color: #a0a0a0;
	padding:0;
	background:transparent;
}

.search-box input[type=text]:hover,.search-box input[type=text]:focus,.search-box input[type=text]:active
{
	box-shadow:none;
	outline-offset:0;
	outline:0;
}

.search-box .search-button
{
	box-shadow:none;
	outline-offset:0;
	outline:0;
	position:absolute;
	right:15px;
	top:6px;
	border:none;
	background:none;
	font-size:21px;
	-webkit-transition:all 200ms ease-in-out;
	-moz-transition:all 200ms ease-in-out;
	transition:all 200ms ease-in-out;
}

.search-button >i
{
	color:#B1A9B1;
	font-weight:lighter;
}

.search-button >i:hover
{
	color:#009DE4;
	font-weight:lighter;
	-webkit-transition:all 200ms ease-in-out;
	-moz-transition:all 200ms ease-in-out;
	transition:all 200ms ease-in-out;
}

.fa-recolor
{
	color:#009DE4;
	font-size:7px!important;
	line-height:0;
	vertical-align:middle;
	margin:0 5px;
}
.number-price::after{
	content:attr(data-shoping-cart-price);
}
.number-items::after{
	content:attr(data-shoping-cart-items);
}
i.fa.fa-shopping-cart.mobile::after
{
	position:absolute;
	content:attr(data-shoping-cart-items);
	font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	text-align:center;
	font-size:11px;
	width:15px;
	height:15px;
	vertical-align:middle;
	line-height:14px;
	top:0;
	right:0;
	border-radius:10px;
	background-color:#009DE4;
}
.nav-list-item{
			color: white;
	    padding: 15.5px 2px;
	    margin-right: 70px;
}
.nav-list-item>a{
			color: white;
	    text-decoration: none;
	    width: 100%;
	    height: 100%;
	    font-weight: bold;
	    font-size: 13px;
	    padding: 15.5px 2px;
}
.bigI
{
	display:inline-block;
	font-size:29px;
}
.item-link-top{
	  color: #737373;
    text-decoration: none;
    font-size: 13px;
}

.fa-menu-edit
{
	color:#009DE4;
	font-size: 20px;
	float: left;
	margin-left: 9px;
	margin-right: 7px;
}
.shop>.container>nav{
	text-align: center;
}

.shop>.container>nav>ul>li.active{
	-webkit-box-shadow:inset 0 -4px 0 0 rgba(1,155,255,1);
	-moz-box-shadow:inset 0 -4px 0 0 rgba(1,155,255,1);
	box-shadow:inset 0 -4px 0 0 rgba(1,155,255,1);
	color: rgba(1, 155, 255, 1);
}

.shop-items-container{
	  border: 1px solid #ddd;
		padding: 0px;
}
.shop>.container>nav>ul>li{
			padding: 19px 0;
	    margin-top: 23px;
	    padding-bottom: 16px;
	    font-size: 12px;
	    font-weight: bold;
}
.price::before{
	content:attr(price-tag);
}

.item_shop>li>.break-line {
	width: 17px;
	margin: 15px auto 19px auto;
	border-top: 0;
	border-bottom: 1px solid black;
	}
	.item_shop{
		display: inline-block;
		text-align: center;
		margin: 35px 0px;
	}

.shop-item-name{
    color: #737373;
		font-size: 13px;
		margin-bottom: 17px;
}
.price{
    font-size: 14px;
    font-weight: bold;
}
footer{
	clear: both;
  position: relative;
  z-index: 10;
}

.button-shop-show-more{
	MARGIN: 0 auto;
	    height: 40px;
margin-bottom: -20px;
display: block;
border: 0;
line-height: 12px;
font-size: 12px;
padding: 13px;
color: white;
background-color: #009DE4;
}
.item-shop-image{
	background: url(../image/shop-item-1.png) no-repeat;
	width:156px;
	height:208px;
}
.add-to-cart{
	position: relative;
	top: 0px;
	width: 156px;
	padding: 75px 20px;
	height: 208px;
	background: rgba(0, 0, 0, 0);
	opacity: 0;
}
.add-to-cart:hover{
	opacity:1;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.26);
}

#slider {
  position: relative;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  overflow:hidden;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 300px;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}
dl.item-shop-image{
	background: url(../image/shop-item-1.png) no-repeat;
	width:156px;
	height:208px;
}
dl.item_shop>dt>.break-line {
	line-height: 1px;
	width: 17px;
	margin: 15px auto 19px auto;
	border-top: 0;
	border-bottom: 1px solid black;
	}

dl.item_shop>dt>div>.add-to-cart{
		position:relative;
		top:0px;
		width:156px;
		height:208px;
		background: rgba(0, 0, 0, 0);
		opacity:0;
	}
dl.item_shop>dt>.add-to-cart:hover{
		opacity:1;
		cursor: pointer;
		background: rgba(0, 0, 0, 0.26);
	}
	dl.item_shop{
		display: inline-block;
		text-align: center;
		margin: 0px;
		line-height: 1px;
	}
.blog{
	  margin-bottom: 20px;
}
.shop-item-name{
    color: #737373;
		font-size: 13px;
		margin-bottom: 17px;
}
.price{
    font-size: 14px;
    font-weight: bold;
}
.blog_article{
		height: 330px;
		margin-bottom: 60px;
}
.img_article{
		height: 100%;
		margin-left: -7px;
}
.item_blog{
    text-align: center;
    margin-top: 35px;
	}

.blog_title{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	}

.item_blog>li>.break-line{
	width: 17px;
	margin: 15px auto 19px auto;
	border-top: 0;
	border-bottom: 1px solid black;
}
.text_blog_short{
		font-size: 12px;
		line-height: 17px;
		height: 110px;
		margin-bottom: 24px;
		color: #737373;
}

.show-more-blog-button.button-inner{
	height: 40px;
	width: 98%;
	background-color: rgb(243, 243, 243);
}

.show-more-blog-button.button-out{
	float: none;
	width: 80%;
	height: 46px;
	border-color:  rgb(243, 243, 243);
}
.border_center_article{
	border-left: 1px solid #ddd;
}
.button-blog-go{
	MARGIN: 0 auto;
	height: 40px;
	margin-bottom: -20px;
	display: block;
	border: 0;
	line-height: 12px;
	font-size: 12px;
	padding: 13px;
	color: white;
	background-color: #009DE4;
}
.box-left, .box-right{
	height: 261px;
	margin-top: 60px;
	width: 96%;
	margin-bottom: 45px;
}

.social>.container>.col-6{
	    padding: 0;
}
.container-info-social{
		padding: 15px;
		width: 100%;
		height: 100%;
    border: 1px solid #E5E5E5;
}
.inner-info-social{
    background-color: #F3F3F3;
		width: 100%;
		height: 100%;
}
.button-social-go{
		MARGIN: 0 auto;
    height: 38px;
    display: block;
    border: 0;
    line-height: 12px;
    font-size: 12px;
    padding: 13px;
    color: white;
    background-color: #009DE4;
}
.item_social{
	text-align: center;
}

.item_social>li>.break-line{
	width: 17px;
  margin: 11px auto 19px auto;
	border-top: 0;
	border-bottom: 1px solid black;
}
.social_title{
	font-family: "Times New Roman", Times, serif;
	letter-spacing: -1px;
	word-spacing: 10px;
	text-transform: uppercase;
}
.text_social{
	font-size: 13px;
}
.news_title{
	font-family: Journal;
	background-image: url('../image/News-underline.png');
	font-size: 60px;
	background-repeat: no-repeat;
	background-position: bottom;
	padding: 0 10px;
	color: #009DE4;
	line-height: 74px;
}
.news.item_social{
  padding-top: 2px;
}
.text_news{
	font-size: 13px;
	line-height: 16px;
}
.item_social.news>li>.break-line{
		margin: 2px auto 19px auto;
}
.email-box{
	position: relative;
}
.email-control{
	outline: 0;
	left: 0;
	margin-left: -10px;
	position: absolute;
	padding: 10px;
	top: -1px;
	height: 38px;
	padding-left: 30px;
	border: 1px solid #DDD;
	border-right: 0px solid #DDD;
	width: 77%;

}
.email-button{
	position: absolute;
	right: 0;
	border: 0;
	width: 30.5%;
	height: 37px;
	margin: 0 -5px;
	color: white;
	background-color: #009DE4;
}
.email-fa{
	left: 0;
	position: absolute;
	top: 9px;
	color: #DDD;
}
footer>.main-body{
	    height: 280px;
}
.footer-info{
		border: 1px solid white;
		height: 100%;
		background-color: #F3F3F3;
		float: left;
		border-right: 0;
}
.footer-about{
    height: 100%;
    float: left;
    border: 1px solid white;
    background-color: #F3F3F3;
    border-right: 0;
}
.footer-about>ul{
	padding: 35px 0px 0px 11%;
}
.footer-pay{
	    height: 100%;
	    float: left;
	    border: 1px solid white;
	    border-right: 0;
	    background-color: #F3F3F3;
}
.footer-pay>ul {
    padding: 35px 0px 0px 11%;
}
.footer-contact{
    height: 100%;
    float: left;
    border: 1px solid white;
    border-right: 0;
    background-color: #F3F3F3;
}

.footer-contact>ul {
    padding: 35px 0px 0px 6.5%;
}

.rest-info-contact-1{
    margin-bottom: 0;
		font-size: 13.5px;
		color: #737373;
}
.rest-info-contact-2{
		font-size: 30.5px;
    font-weight: bold;
    margin-bottom: 3px;
    color: black;
}
.rest-info-contact-3{
	    color: #737373;
			font-size: 13px;
	    margin-bottom: 15px;
}
.rest-info-contact-3>a{
		color: #009DE4;
		text-decoration: underline;
}
.rest-info-contact-4{
		font-size: 12px;
    margin-bottom: 3px;
    color: #737373;
}
.rest-info-contact-5{
    font-size: 12px;
		margin-bottom: 15px;
    color: #737373;
}
.main-body>.col-12{
	height: 100%;
	padding: 0;
}
.title-info{
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 23px;
}
.rest-info{
	font-size: 13.5px;
  margin-bottom: 15px;
	color:#737373;
}
.rest-info-pay>span{
	  font-weight: bold;
		color: #585858;
}
.rest-info-pay{
	color: #737373;
	font-size: 12px;
	margin-bottom: 4px;
}
.copyright{
	float: left;
	height: 100%;
	position: relative;
	}
.social_media{
	float: left;
	height: 100%;
		}

.copyright-name>.fa-recolor{
		color: #009DE4;
	 font-size: 4px!important;
	 line-height: 0;
	 vertical-align: middle;
	 margin: 0 1px;
}
.copyright-name>.bigI{
	font-size: 18px;
}
.fa-social-fb-footer:hover{
      border: 1px solid #009DE4;
}
.fa-social-p-footer:hover{
      border: 1px solid #009DE4;
}
.social_media>span{
		float: right;
    margin-right: 8px;
    margin-top: 19px;
    font-size: 12px;
		color: #737373;
}
